@import "../../responsive.scss";

.searchBar{

    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: start;
    width: 100%;

    .type{
        width: 35%;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    
        .center{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        button{
            border-style: solid;
            border: 0px ;
        }
    
    
        .buy{
            height: 100%;
            width: 50%;
            background-color: rgb(0, 0, 0);
            border-top-left-radius: 6px;
            border: 1px solid black;
            border-bottom: none;

            color: white;
    
            &.active{
                background-color: rgb(255, 255, 255);
                color: rgb(0, 0, 0);
            }

            
        }
    
        .rent{
            height: 100%;
            border: 1px solid black;
            border-bottom: none;

            width: 50%;
            background-color: rgb(255, 255, 255);
            border-top-right-radius: 6px;
    
            &.active {
                background-color: rgb(0, 0, 0);
                color: rgb(255, 255, 255);
            }
        }
    }

    form{
        border: 1px solid black;
        border-right: 0px;
        display: flex;
        gap: 12px;
        align-items: center;

        @include small{
            flex-direction: column;
            border: none;
            gap: 0px;
            align-items: start;

        }
    

        input{
            height: 60px;
            width: 27%;
            border: none;
            padding: 14px;
            font-size: 14px;

            &:focus {
                outline: none;
            }

            @include small{
                border: 1px solid black;

                width: 100%;

                &:first-child{
                    border-bottom: none;
                }
                
            }

        }

        .max-price{

            @include small{
                border-top: none;
                border-bottom: none;
            }
    
        }

        button{
            height: 100%;
            flex: 1;
            background-color: #fece51;
            border-style: solid;
            border: 1px solid black;
            border-top: 0px;
            border-bottom: 0px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;

            @include small{
                border-top: 0px;
                border: 1px solid black;
                width: 100%;
                padding: 10px;
            }
            
            
            img{
                height: 30px;
                width: 30px;
            }
        }
    }
}
